extends layout

block content
  body
    .container
      .row
        h1.title
          | Simple Chat
          br
          small Present your team in an interesting way
        .card-container.manual-flip
          .card
            .front
              .cover
                img(src='template/images/rotating_card_thumb2.jpg')
              .content
                .main
                  h3.name ingresa un nick
                  input#nombre.form-control(type="text" class="form-control" placeholder='your name')
                .footer
                  button.btn.btn-simple(onclick='rotateCard(this)')
                    i.fa.fa-mail-forward
                    |  Logueate o Registrate
            // end front panel
            .back
              .header
                h5.motto Registrate o logueate, es gratis!
              .content
                .main
                  a(href='/login')
                    button.btn.btn-primary.btn-block(type='button') Logueate
                  br
                  a(href='/register')
                    button.btn.btn-primary.btn-block(type='button') Regitrate
              .footer
                button.btn.btn-simple(rel='tooltip', title='Flip Card', onclick='rotateCard(this)')
                  i.fa.fa-reply
                  |  Back
                button.btn.btn-link
                  i.fa.fa-github
                  |  fork Me!

      script(src='template/js/jquery-1.10.2.js', type='text/javascript')
      script(src='template/js/bootstrap.min.js', type='text/javascript')
      script(type='text/javascript').
        function rotateCard(btn){
        var $card = $(btn).closest('.card-container');
        console.log($card);
        if($card.hasClass('hover')){
        $card.removeClass('hover');
        } else {
        $card.addClass('hover');
        }
        }
